@model Classroom

@{
    ViewData["Title"] = "Index";
}

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var student in @Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.LastName</td>
            </tr>
        }
    </tbody>
</table>


